<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>

<body>

<header th:replace = "fragments :: header-logged-out">
</header>

<div class = "container">

    <div class = "row">
        <div class = "col-12 firstcol"></div>
    </div>

    <div class = "row">
        <div class = "col-2 firstcol"></div>
        <div class = "col-8 firstcol">
            <p class = "intro">Welcome to MyLibraryApp. It will help you keep track of
                your books, discover new books, and more. Happy reading! </p>
        </div>
        <div class = "col-2 firstcol"></div>
    </div>

    <div class = "row">
        <div class = "col-2 firstcol"></div>
        <div class = "col-8 firstcol">
            <div class="input-group">
                <input type="search" class="form-control rounded" placeholder="Search by title / author" aria-label="Search" aria-describedby="search-addon" />
                <button type="button" style = "background-color: #414E64; color: white" class="btn ">Search</button>
            </div>
        </div>
        <div class = "col-2 firstcol"></div>
    </div>

    <div class = "row">
        <div class = "col-12 firstcol"></div>
    </div>

    <div class = "row">
        <div class = "col-4 firstcol"> <a th:href="'/view/' + ${allBooks[0].id}"> <img class = "bookimg" th:src = "@{${allBooks[0].imageUrl}}"> </a></div>
        <div class = "col-4 firstcol"> <a th:href="'/view/' + ${allBooks[10].id}"><img class = "bookimg" th:src = "@{${allBooks[10].imageUrl}}"></a> </div>
        <div class = "col-4 firstcol"> <a th:href="'/view/' + ${allBooks[16].id}"><img class = "bookimg" th:src = "@{${allBooks[16].imageUrl}}"></a> </div>
    </div>

    <div class = "row">
        <div class = "col-4 firstcol"><a th:href="'/view/' + ${allBooks[19].id}"><img class = "bookimg" th:src = "@{${allBooks[19].imageUrl}}"></a></div>
        <div class = "col-4 firstcol"><a th:href="'/view/' + ${allBooks[18].id}"><img class = "bookimg" th:src = "@{${allBooks[18].imageUrl}}"></a></div>
        <div class = "col-4 firstcol"><a th:href="'/view/' + ${allBooks[17].id}"><img class = "bookimg" th:src = "@{${allBooks[17].imageUrl}}"></a></div>
    </div>
</div>

</body>
</html>