<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace = "fragments :: head">
</head>

<body>

<header th:replace ="fragments :: header-logged-in">
</header>

<div class = "container">

    <div class = "row">
        <div class = "col-12 firstcol"></div>
    </div>

    <div class = "row">
        <div class = "col-12 firstcol"></div>
    </div>

    <div class = "row">
        <div class = "col-12 firstcol"></div>
    </div>



    <div class = "row">


        <div class = "col-4 firstcol">
            <img class = "bookimgview" th:src = "@{${book.imageUrl}}">


            <form method="post" class = "form-remove">
                <p style = "margin-top: 20px">Remove this book?</p>
                <input type="submit" value="Delete" class="btn btn-danger" style = "font-size:15px">
            </form>

        </div>


        <div class = "col-4 firstcol"><div style = "margin-left:-100px">
            <h4 th:text = "${book.name}" style = "margin-top:30px"></h4>
            <hr>
            <div  style = "width:60%; height:60%; font-size: 15px">
                <table class="table table-borderless table-condensed">
                    <tr>
                        <td>Author</td>
                        <td>(Author)</td>
                    </tr>
                    <tr>
                        <td>Genre</td>
                        <td>(Genre)</td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td th:text="${book.averageRating}"></td>
                    </tr>
                    <tr>
                        <td>ISBN</td>
                        <td th:text="${book.isbn}"></td>
                    </tr>
                    <tr>
                        <td >Published</td>
                        <td th:text="${book.published}"></td>
                    </tr>

                </table>
            </div>
        </div>
        </div>


        <div class = "col-4 firstcol"></div>




    </div>
</div>

</body>
</html>