<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<header>


        <div class="row navbg">

            <div class="col-md">
                <a href = "#" class = "link-dark"><img class = "logo" src = "/images/logo4.png"></a>
            </div>
            <div class="col-sm">
            </div>
            <div class="col-sm">
                <div class="topnav">
                    <nav>
                        <ul class="nav">
                            <li class="nav-item"><button type="button" class="btn " style = "background-color:#414E64; color: white">Sign in</button></li>
                            <br>
                            <li class="nav-item register"><button  type="button" class="btn" style = "background-color:#414E64; color: white">Register</button></li>
                        </ul>

                    </nav>

                </div>
            </div>
        </div>

</header>

<div class = "container">
    <div class = "row">
        <div class = "col-12 firstcol"></div>
    </div>
    <div class = "row">
        <div class = "col-2 firstcol"></div>
        <div class = "col-8 firstcol"><p class = "intro">Welcome to MyLibraryApp. It will help you keep track of
            your books, discover new books, and more. Happy reading!
        </div>
        <div class = "col-2 firstcol"></div>
    </div>



    <div class = "row">
        <div class = "col-2 firstcol"></div>
        <div class = "col-8 firstcol">  <div class="input-group">
            <input type="search" class="form-control rounded" placeholder="Search by title / author" aria-label="Search" aria-describedby="search-addon" />
            <button type="button" style = "background-color: #414E64; color: white" class="btn ">Search</button>
        </div></div>
        <div class = "col-2 firstcol"></div>
    </div>

    <div class = "row">
        <div class = "col-12 firstcol"></div>
    </div>
    <div class = "row">
        <div class = "col-4 firstcol"><p style = " padding-bottom:10px;font-size:90%; font-weight:bold; text-align:center; max-width:40%; margin:auto">Anna Karenina by Leo Tolstoy</p><img th:src = "@{${allBooks[0].imageUrl}}"> </div>
        <div class = "col-4 firstcol"> <img th:src = "@{${allBooks[10].imageUrl}}" ><p style = "padding-top:10px; font-size:90%; font-weight:bold; text-align:center; max-width:40%; margin:auto">The Master and Margarita by Mikhail Bulgakov</p></div>
        <div class = "col-4 firstcol"><img th:src = "@{${allBooks[16].imageUrl}}" ></div>
    </div>

    <div class = "row">
        <div class = "col-4 firstcol"><img th:src = "@{${allBooks[19].imageUrl}}" ></div>
        <div class = "col-4 firstcol"> <img th:src = "@{${allBooks[18].imageUrl}}" ></div>
        <div class = "col-4 firstcol"><img th:src = "@{${allBooks[17].imageUrl}}" ></div>
    </div>
</div>

</body>
</html>